h1 {
  text-align: center;
  color: rgb(108, 69, 21);
}
p {
  font-style: italic;
}
div {
  background-color: rgb(168, 100, 100);
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
}
a {
  background-color: violet;
}
a:hover {
  color: rgb(142, 71, 113);
}
#animation {
  padding: 3px;
  background-color: rgb(248, 240, 246);
  animation: anim 8s;
  animation-iteration-count: infinite;
}
@keyframes anim {
  from {
    background: rgb(213, 190, 213);
  }
  to {
    background: rgb(73, 48, 64);
  }
}
